<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<title>安装程序</title>
<link rel="stylesheet" href="<?php echo __STATIC__; ?>common/install/css/style.css" type="text/css" />
<script type="text/javascript" src="<?php echo __STATIC__; ?>common/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
function next() {
	var step = parseInt($("#step").val())+1;
	$("#step").val(step);
	$("#install-form").submit();
}
function back() {
	var step = parseInt($("#step").val())-1;
	$("#step").val(step);
	$("#install-form").submit();
}
</script>
</head>
<body>
	<header>
		<div class="title">安装程序</div>
	</header>
	<form id="install-form" method="get" action="?">
		<input type="hidden" id="step" name="step" value="<?php echo $step; ?>" />
	</form>