	<?php $this->load('header');?>
	<div class="content">
		<div class="step-bar">
			<span class="step">3</span>
			<span>检查目录和文件权限</span>
		</div>
		<div class="content-body">
			<table class="table">
				<thead>
					<tr>
						<th>检查项</th>
						<th>读取权限</th>
						<th>写入权限</th>
					</tr>
				</thead>
				<tbody>
				<?php
					if (!empty($dirs)) {
						foreach($dirs as $k => $v) {
				?>
					<tr>
						<td style="width:180px;"><?php echo $k; ?></td>
						<td align="center" style="width:180px;"><span class="<?php echo $v['is_read'] ? 'green' : 'red'; ?>"><?php echo $v['is_read'] ? '可读' : '不可读'; ?></span></td>
						<td align="center" style="width:180px;"><span class="<?php echo $v['is_write'] ? 'green' : 'red'; ?>"><?php echo $v['is_write'] ? '可写' : '不可写'; ?></span></td>
					</tr>
				<?php } } ?>
				</tbody>
			</table>
		</div>
		<div class="content-bar">
			<a class="btn" href="javascript:back();">上一步</a>
			<?php if ($next) { ?>
			<a class="btn" href="javascript:next();">下一步</a>
			<?php } else { ?>
			<a class="btn" href="javascript:;" onclick="alert('当前环境不满足安装条件，无法继续安装！');">检测不通过</a>
			<?php } ?>
		</div>
	</div>
</body>
</html>